/* general.css */

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

.add-book-container {
  margin-top: 3rem;
  max-height: 100%;
  width: 100%;
  max-width: 700px;
  text-align: center;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 10px;
  font-size: 1.8em;
  color: #ffffff;
}

.instructions {
  font-size: 0.9em;
  color: #b3b3b3;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#bookTitle {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  outline: none;
}

#searchButton {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #6200ee;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

#searchButton:hover {
  background-color: #3700b3;
}

.results-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  max-height: 750px; /* Set the max height as per your layout preference */
  overflow-y: auto; /* Enable vertical scrolling */
}

.results-container::-webkit-scrollbar,.modal::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.book-card {
  display: grid;
  grid-template-columns: 1fr 2fr;

  background-color: #292929;
  padding: 15px;
  border-radius: 8px;
  gap: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.book-cover {
  width: 150px; /* Adjust to the preferred size */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.book-details {
  text-align: left;
  flex-grow: 1;
}

.book-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

.book-author {
  font-size: 0.9em;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.book-description {
  font-size: 0.85em;
  color: #cccccc;
  margin-bottom: 10px;
}

.btn{
  padding: 8px 20px;  
  border: none;
  border-radius: 5px;
  cursor: pointer;font-size: 1em;
  font-weight: 400;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);  
  transition: .5s;
}

.add-button {
 
  background: linear-gradient(45deg, #26a00e, #067221);
  color: #ffffff;
  margin-top: 30px; /* Adds spacing above */
  margin-bottom: 15px; /* Adds spacing below */
  margin-right: 5px;
}

.add-button:hover {
  background: linear-gradient(45deg, #19580c, #05270d);

  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.add-button:active {
  transform: translateY(0);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.view-btn{
  background-color: #3a3a3a;
  color: #ffffff;  

 
 

  border-radius: 5px;
  display: inline-flex;
  align-items: center;

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.view-btn:hover {
  background-color: #555555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-btn:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #007bff;
}

/* Modal CSS */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
  overflow-y: auto;

}

.modal-content {
  background-color: #1e1e1e;
  color: #fff;
  margin: 5% auto;
  padding: 25px;
  width: 85%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  animation: slideDown 0.4s ease;
}
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.close-btn {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #ffffff;
}
/* Additional Styling for Modal Content */
.modal .book-details,.modal .book-summary,.modal .user-notes,.modal .rating {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.modal h3{
  display: flex;
  align-items: center;
  color: #4db8ff;
  font-weight: 600;
}
.modal .rating{
  margin-bottom: 1rem;
}



.book-details p, .book-summary p {
  margin: 5px 0;
}
.modal .book-summary{
  padding: 1rem!important;
  line-height: 1.6; /* Increases spacing between lines */
  font-size: 16px; /* Increases font size for better readability */
  padding: 10px 0; /* Adds padding around the summary */
  color: #fff; /* Sets a darker color for better contrast */
}

